/*
 * These styles set the sizes of the general containers
 */

/*
 * CSS for page content
 */
#content {
    width: 1000px;
    border: 1px solid #AAA;
}

/*
 * CSS for user bar on main.scala.html
 */
#user_bar {
    background-color: white;
}

#user_links {
    float: right;
}

/*
 * CSS for menu bar on index.scala.html
 */
#menu_bar {
    height: 50px;
    background-color: white;
}

/*
 * CSS for footer on main.scala.html
 */
#footer {
    text-align: center;
    height: 50px;
    background-color: white;
}

/*
 * CSS for background on main.scala.html
 */
.background {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #000000;
    z-index: 5;
    opacity: 0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}

.section {
    clear: left;
}